@using System.Web.UI.WebControls
@model WebProje.Models.Contact.ContactViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutContactPage.cshtml";
}

@section Breadcrumb
{
    <section class="breadcrumb_area">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle">Contact Us</h2>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Contact Us</li>
                </ol>
            </div>
        </div>
    </section>
}

@section Contact_Map{
    <div class="mapBox">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1850.5044576690175!2d29.219475422258487!3d40.65141752833145!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caf00d8e8cd035%3A0x98ffb531e8f00a58!2sYalova+%C3%9Cniversitesi+Fen+Bilimleri+Enstit%C3%BCs%C3%BC!5e1!3m2!1str!2str!4v1544308155586" frameborder="0" style="border:0;height: -webkit-fill-available;width: -webkit-fill-available;" allowfullscreen></iframe>
    </div>
}
@section Contact_Status
{
    @if (TempData["IsPosted"] != null)
    {
        if ((bool)TempData["IsPosted"] == true)
         {
             <div class="col-lg-12">
                 <blockquote class="generic-blockquote">
                     <h2 style="color: green;">Thank you!</h2>
                     <h5>Your message is successfully sent...</h5>
                 </blockquote>
             </div>
         }
         else if ((bool)TempData["IsPosted"] == false)
         {
             <div class="col-lg-12">
                 <blockquote class="generic-blockquote">
                     <h2 style="color: red;">Sorry!</h2>
                     <h5>Something went wrong...</h5>
                 </blockquote>
             </div>
         }
    }
}
@section Contact
{
    <div class="contact_info">
        <div class="info_item">
            <i class="lnr lnr-home"></i>
            <h6>@Model.SettingsList.Find(n => n.Name == "hotel.name").Value</h6>
            <p>@Model.SettingsList.Find(n => n.Name == "hotel.address").Value</p>
        </div>
        <div class="info_item">
            <i class="lnr lnr-phone-handset"></i>
            <h6><a href="phone:@Model.SettingsList.Find(n => n.Name == "hotel.phone").Value.Replace(" ", String.Empty)">@Model.SettingsList.Find(n => n.Name == "hotel.phone").Value</a></h6>
            <p>@Model.SettingsList.Find(n => n.Name == "hotel.workinghours").Value on Weekdays</p>
        </div>
        <div class="info_item">
            <i class="lnr lnr-envelope"></i>
            <h6><a href="mailto:@Model.SettingsList.Find(n => n.Name == "hotel.email").Value">@Model.SettingsList.Find(n => n.Name == "hotel.email").Value</a></h6>
            <p>Send us your query anytime!</p>
        </div>
    </div>
}
@section Contact_Form
{
    @using (Ajax.BeginForm("Index", "Contact", new AjaxOptions { UpdateTargetId = "result", OnSuccess = "list" }, new { @class = "row contact_form", @id = "contactForm" }))
    {
        @Html.HiddenFor(model => model.ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-group">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control required", type = "text", id = "name", name = "name", placeholder = "Enter your name*", required = "required" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control required", type = "email", id = "email", name = "email", placeholder = "Enter email address*", required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control required", type = "subject", id = "", name = "subject", placeholder = "Enter Subject*", required = "required" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control required", id = "message", name = "message", rows = "1", placeholder = "Enter Message*", required = "required" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-12 text-right">
            <input name="form_botcheck" class="form-control" type="hidden" value="">
            <input onclick="ShowPopUp" type="submit" class="btn theme_btn button_hover" value="Send Message" data-loading-text="Please wait..." />
        </div>
    }
}

@section Scripts
{
    <script src="~/Scripts/Modal.js"></script>
    <script src="~/Scripts/mail-script.js"></script>
    <script src="~/Vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Vendors/isotope/isotope-min.js"></script>
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/Scripts/gmaps.min.js"></script>
    <!-- contact js -->
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/contact.js"></script>
}