@using Hotel.Model.DataModel
@model WebProje.Areas.Admin.Models.Home.HomeViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Dashboard</h2>
        </div>
    </div>
</div>
<div class="row m-t-25">
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-accounts"></i>
                    </div>
                    <div class="text">
                        <h2>@Model.CustomerCount</h2>
                        <span>customers</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                </div>
            </div> <!--Customer Count-->
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-edit"></i>
                    </div>
                    <div class="text">
                        <h2>@Model.BookingCount</h2>
                        <span>reservations</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                </div>
            </div> <!--Booking Count-->
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-home"></i>
                    </div>
                    <div class="text">
                        <h2>@Model.RoomCount</h2>
                        <span>rooms</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                </div>
            </div> <!--Room Count-->
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="overview-item overview-item--c4">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                    <div class="text">
                        <h2>$@Model.TotalEarning.ToString("N")</h2>
                        <span>total earnings</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart4"></canvas>
                </div>
            </div> <!--Total Earnings-->
        </div>
    </div>
</div> <!-- TOP CARDS -->
<div class="row">
    <div class="col-lg-9">
        <h2 class="title-1 m-b-25">
            Today's Reservations (@DateTime.Today.ToString("dd MMMM, dddd"))
            <a href="@Url.Action("NewReservation","ReservationManagement")" class="au-btn au-btn-icon au-btn--blue au-btn--small float-right">
                <i class="zmdi zmdi-plus"></i>Add New Reservation
            </a>
        </h2>

        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>R.ID</th>
                        <th>Arrival Date</th>
                        <th>Night</th>
                        <th>Status</th>
                        <th>Name</th>
                        <th class="text-right">Room</th>
                        <th class="text-right">Cap.</th>
                        <th class="text-right">total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Books book in Model.BooksList)
                    {
                        <tr class="clickable-row" data-href='@Url.Action("NewReservation","ReservationManagement",new {book.ID})'>
                            <td>@book.ID</td>
                            <td>@book.ArrivalDate.ToString("yyyy-MM-dd")</td>
                            <td>@book.Night</td>
                            @if (book.IsCancelled)
                            {
                                <td class="cancelled text-center"><i class="fas fa-eraser"></i></td>
                            }
                            else if (book.IsCheckIn)
                            {
                                <td class="process text-center"><i class="fas fa-check"></i></td>
                            }
                            else
                            {
                                <td class="denied text-center"><i class="fas fa-ban"></i></td>
                            }
                            <td>@book.Customers.Name @book.Customers.Surname</td>
                            <td class="text-right">@book.Rooms.RoomNo</td>
                            <td class="text-right">@book.Rooms.RoomTypes.Capacity</td>
                            <td class="text-right">$@((float)book.Price * (1 - book.Discount) * book.Night)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> <!-- LAST 8 RESERVATIONS-->
    <div class="col-lg-3">
        <h2 class="title-1 m-b-25">Room Types</h2>
        <div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
            <div class="au-card-inner">
                <div class="table-responsive">
                    <table class="table table-top-countries">
                        <tbody>
                            @foreach (var roomType in Model.RoomTypeList)
                            {
                                <tr>
                                    <td>@roomType.Name</td>
                                    <td>@roomType.Capacity</td>
                                    <td class="text-right">$@((float)roomType.Price)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- RESERVATIONS & ROOM TYPES -->
<div class="row">
    <div class="col-lg-6">
        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
            <div class="au-card-title" style="background-image:url('~/Areas/Admin/Images/bg-title-01.jpg');">
                <div class="bg-overlay bg-overlay--blue"></div>
                <h3>
                    <i class="zmdi zmdi-account-calendar"></i>Testimonials
                </h3>
                <button class="au-btn-plus">
                    <i class="zmdi zmdi-plus"></i>
                </button>
            </div>
            <div class="au-task js-list-load">
                <div class="au-task__title">
                    <p>Only Showable Testimonials (Only First 8 Testimonials)</p>
                </div>
                <div class="au-task-list js-scrollbar3">
                    @foreach (var testimonial in Model.TestimonialList)
                    {
                        <div class="au-task__item au-task__item--success clickable-row" data-href='@Url.Action("NewTestimonial","TestimonialManagement",new {testimonial.ID})'>
                            <div class="au-message__item-inner">
                                <div class="au-message__item-text">
                                    <div class="avatar-wrap">
                                        <div class="avatar">
                                            @if (String.IsNullOrEmpty(testimonial.Image))
                                            {
                                                <img src="~/Images/Customers/default.png" alt="@testimonial.Customers.Name">
                                            }
                                            else
                                            {
                                                <img src="~/Images/Customers/@testimonial.Image" alt="@testimonial.Customers.Name">
                                            }
                                        </div>
                                    </div>
                                    <div class="text">
                                        <h5 class="name">@testimonial.Customers.Name @testimonial.Customers.Surname</h5>
                                        <a href="#">@testimonial.Message</a>
                                    </div>
                                </div>
                                <div class="au-message__item-time">
                                    <span><span style="font-size: 16px">@testimonial.Rate</span>/10</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="au-task__footer">
                    <button class="au-btn au-btn-load js-load-btn">load more</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Messages -->
    <div class="col-lg-6">
        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
            <div class="au-card-title" style="background-image:url('images/bg-title-02.jpg');">
                <div class="bg-overlay bg-overlay--blue"></div>
                <h3>
                    <i class="zmdi zmdi-comment-text"></i>New Messages
                </h3>
                <button class="au-btn-plus">
                    <i class="zmdi zmdi-arrow-back"></i>
                </button>
            </div>
            <div class="au-inbox-wrap js-inbox-wrap">
                <div class="au-message js-list-load">
                    <div class="au-message__noti">
                        <p>
                            <span>Contact Forms</span>
                        </p>
                    </div>
                    <div class="au-message-list">
                        @foreach (ContactForms form in Model.ContactFormsList)
                        {
                            if (Model.ContactFormsList.IndexOf(form) < 4)
                            {
                                <div class="au-message__item @(@form.IsRead == false ? "unread" : "")">
                                    <div class="au-message__item-inner">
                                        <div class="au-message__item-text">
                                            <div class="text" style="margin-left: 0px">
                                                <h5 class="name">@form.Name</h5>
                                                <p>@form.Subject</p>
                                            </div>
                                        </div>
                                        <div class="au-message__item-time">
                                            <span>@form.SendedAt.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="au-message__item js-load-item @(@form.IsRead == false ? "unread" : "")">
                                    <div class="au-message__item-inner">
                                        <div class="au-message__item-text">
                                            <div class="text">
                                                <h5 class="name">@form.Name</h5>
                                                <p>@form.Subject</p>
                                            </div>
                                        </div>
                                        <div class="au-message__item-time">
                                            <span>@form.SendedAt.ToShortDateString()</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="au-message__footer">
                        <button class="au-btn au-btn-load js-load-btn">load more</button>
                    </div>
                </div>
                <div class="au-chat">
                    <div class="au-chat__title">
                        <div class="au-chat-info">
                            <span class="nick">
                                <span>@Model.ContactFormsList[0].Name</span> - <a href="mailto:@Model.ContactFormsList[0].Email">@Model.ContactFormsList[0].Email</a>
                            </span>
                        </div>
                    </div>
                    <div class="au-chat__content">
                        <div class="recei-mess-wrap">
                            <span class="mess-time">@Model.ContactFormsList[0].SendedAt.ToString("dd.MM.yyyy HH:mm:ss")</span>
                            <div class="recei-mess__inner">
                                <div class="recei-mess-list">
                                    <div class="send-mess">@Model.ContactFormsList[0].Message</div>
                                </div>
                            </div>
                        </div>
                        @*<div class="send-mess-wrap">
                                <span class="mess-time">30 Sec ago</span>
                                <div class="send-mess__inner">
                                    <div class="send-mess-list">
                                        <div class="send-mess">Lorem ipsum dolor sit amet, consectetur adipiscing elit non iaculis</div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    @*<div class="au-chat-textfield">
                            <form class="au-form-icon">
                                <input class="au-input au-input--full au-input--h65" type="text" placeholder="Type a message">
                                <button class="au-input-icon">
                                    <i class="zmdi zmdi-camera"></i>
                                </button>
                            </form>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div> <!-- LIST & CONTACT FORM MESSAGES -->

@section Style
{
    <style>
        table.table td.process {
            color: #00ad5f;
        }

        table.table td.denied {
            color: #fa4251;
        }

        table.table td.cancelled {
            color: #ffc107;
            font-weight: bold;
        }

        table {
            text-transform: uppercase;
        }

        .clickable-row {
            cursor: pointer;
        }
    </style>
}
@section Script{
    <script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
}