@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Breadcrumb Area =================-->
@RenderSection("Breadcrumb",true)
<!--================Breadcrumb Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        @RenderSection("Contact_Map", false)
        <div class="row">
            @RenderSection("Contact_Status",false)
            <div class="col-md-3">
                @RenderSection("Contact", true)
            </div>
            <div class="col-md-9">
                @RenderSection("Contact_Form")
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->

@RenderSection("Scripts",false)