@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="booking_table d_flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
            <div class="container">
                <div class="banner_content text-center">
                    @RenderSection("Banner_Title",false)
                </div>
            </div>
        </div>
        <div class="hotel_booking_area position">
            <div class="container">
                <div class="hotel_booking_table">
                    @RenderSection("Banner", true)
                </div>
            </div>
        </div>
    </section>
    <!--================Banner Area =================-->
    <!--================ Accomodation Area  =================-->
    <section class="accomodation_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                @RenderSection("Accomodation_Title",false)
            </div>
            <div class="row mb_30">
                @RenderSection("Accomodation", true)
            </div>
        </div>
    </section>
    <!--================ Accomodation Area  =================-->

    <!--================ Facilities Area  =================-->
        @RenderSection("Facilities", true)
    <!--================ Facilities Area  =================-->
    
    <!--================ About History Area  =================-->
        @RenderSection("AboutHistory", true)
    <!--================ About History Area  =================-->

    <!--================ Testimonial Area  =================-->
        @RenderSection("Testimonial", true)
    <!--================ Testimonial Area  =================-->
    <!--================ Latest Blog Area  =================-->
    <section class="latest_blog_area section_gap">
        <div class="container">
            <div class="section_title text-center">
                @RenderSection("LatestBlog_Title",false)
            </div>
            <div class="row mb_30">
                @RenderSection("LatestBlogPosts",true)
            </div>
        </div>
    </section>