@model WebProje.Areas.Admin.Models.EmployeeManagement.NewEmployeeViewModel
@{
    ViewBag.Title = "New Employee";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        New <strong>Employee</strong>
    </div>
    @using (Html.BeginForm("NewEmployee", "EmployeeManagement", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Employee.ID)
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="nationalid" class="form-control-label">National ID<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.NationalID, new { htmlAttributes = new { @class = "form-control", id = "nationalid", name = "nationalid", type = "number", placeholder = "National ID", required = "" } })
                    <small class="form-text text-muted">This is employee's national identity number</small>
                </div>
            </div> <!--NATIONAL ID-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="name" class="form-control-label">Name<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.Name, new { htmlAttributes = new { @class = "form-control", id = "name", name = "name", type = "text", placeholder = "Name", required = "" } })
                    <small class="form-text text-muted">This is employee's name</small>
                </div>
            </div> <!--NAME-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="surname" class="form-control-label">Surname<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.Surname, new { htmlAttributes = new { @class = "form-control", id = "surname", name = "surname", type = "text", placeholder = "Surname", required = "" } })
                    <small class="form-text text-muted">This is employee's surname</small>
                </div>
            </div> <!--SURNAME-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="birthdate" class="form-control-label">Birth Date<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.BirthDate, new { htmlAttributes = new { @class = "form-control datepicker", id = "birthdate", name = "birthdate", type = "date", required = "", @Value = Model.Employee.BirthDate.ToString("yyyy-MM-dd") } })
                    <small class="form-text text-muted">This is employee's birth date.</small>
                </div>
            </div> <!--BIRTHDAY-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="gender" class="form-control-label">Gender<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.DropDownListFor(x => x.Employee.Gender, new SelectList(Model.GenderList, "Description", "Name"), "Please Select", new { @class = "form-control", name = "gender", id = "gender", required = "" })
                    <small class="form-text text-muted">This is employee's gender</small>
                </div>
            </div> <!--GENDER-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="phone" class="form-control-label">Phone Number<span class="required"> *</span></label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.Phone, new { htmlAttributes = new { @class = "form-control", id = "phone", name = "phone", placeholder = "Phone", type = "tel", required="" } })
                    <small class="form-text text-muted">This is employee's phone number</small>
                </div>
            </div> <!--PHONE-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="email" class="form-control-label">E-Mail</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.Email, new { htmlAttributes = new { @class = "form-control", id = "email", name = "email", type = "email", placeholder = "E-Mail" } })
                    <small class="help-block form-text">This is employee's e-mail</small>
                </div>
            </div> <!--E-MAIL-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="title" class="form-control-label">Title</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.EditorFor(model => model.Employee.Title, new { htmlAttributes = new { @class = "form-control", id = "title", name = "title", placeholder = "Title", type = "text" } })
                    <small class="form-text text-muted">This is employee's title</small>
                </div>
            </div> <!--TITLE-->
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="address" class="form-control-label">Address</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.TextAreaFor(model => model.Employee.Address, new { @class = "form-control", id = "address", name = "address", rows = "3", placeholder = "Address" })
                </div>
            </div> <!--ADDRESS-->
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-save"></i> Save
            </button>
        </div>
    }
</div>

@section Style
{
    <style>
        label .required {
            color: red;
        }
    </style>
}
