@model WebProje.Models.Blog.BlogViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutBlogPage.cshtml";
}

<h2>Details</h2>
@section Banner
{
    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">Blog Details</h2>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                    <li class="active">Blog Details</li>
                </ol>
            </div>
        </div>
    </section>
}

@section BlogArea{
    <div class="posts-list">
        <div class="single-post row">
            <div class="col-lg-12">
                <div class="feature-img">
                    <img class="img-fluid" src="~/Images/blog/@Model.Post.Image" alt="">
                </div>
            </div>
            <div class="col-lg-3  col-md-3">
                <div class="blog_info text-right">
                    <div class="post_tag">
                        <a href="#">@Model.Setting.Value</a> @*TODO: Otel Adı Yazacak*@
                    </div>
                    <ul class="blog_meta list_style">
                        <li><a href="#">@Model.Post.CreatedAt.ToLongDateString()<i class="lnr lnr-calendar-full"></i></a></li> @*TODO: Blog Post Tarihi yazılacak.*@
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 blog_details">
                <h2>Astronomy Binoculars A Great Alternative</h2>
                <p class="excert">
                    MCSE boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction.
                </p>
                <p>
                    Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                </p>
                <p>
                    Boot camps have its supporters and its detractors. Some people do not understand why you should have to spend money on boot camp when you can get the MCSE study materials yourself at a fraction of the camp price. However, who has the willpower to actually sit through a self-imposed MCSE training. who has the willpower to actually sit through a self-imposed
                </p>
            </div>
        </div>
        <div class="navigation-area">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                    @if (Model.Post.ID != Model.PostsList[0].ID)
                    {
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="~/Images/blog/main-blog/@Model.PostsList[0].Thumbnail" alt="" style="height: 70px; width: 100px;"></a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                            </div>
                            <div class="detials">
                                <p>Prev Post</p>
                                <a href="@Url.Action("Details", "Blog", new {id = Model.PostsList[0].ID})"><h4>@Model.PostsList[0].Title</h4></a>
                            </div>
                    }
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    @if (Model.Post.ID != Model.PostsList[1].ID)
                    {
                            <div class="detials">
                                <p>Next Post</p>
                                <a href="@Url.Action("Details", "Blog", new {id = Model.PostsList[1].ID})"><h4>@Model.PostsList[1].Title</h4></a>
                            </div>
                            <div class="arrow">
                                <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                            </div>
                            <div class="thumb">
                                <a href="#"><img class="img-fluid" src="~/Images/blog/main-blog/@Model.PostsList[1].Thumbnail" alt="" style="height: 70px; width: 100px;"></a>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
}