@using System.Security.Claims
<div class="header-button">
    <div class="account-wrap">
        <div class="account-item clearfix js-item-menu">
            <div class="image">
                <img src="~/Areas/Admin/Images/Employees/@((User as CustomPrincipal).Image)" alt="@((User as CustomPrincipal).Firstname) @((User as CustomPrincipal).Surname)" />
            </div>
            <div class="content">
                <a class="js-acc-btn" href="#">@((User as CustomPrincipal).Firstname) @((User as CustomPrincipal).Surname)</a>
            </div>
            <div class="account-dropdown js-dropdown">
                <div class="info clearfix">
                    <div class="image">
                        <a href="#">
                            <img src="~/Areas/Admin/Images/Employees/@((User as CustomPrincipal).Image)" alt="@((User as CustomPrincipal).Firstname) @((User as CustomPrincipal).Surname)" />
                        </a>
                    </div>
                    <div class="content">
                        <h5 class="name">
                            <a href="#">@((User as CustomPrincipal).Firstname) @((User as CustomPrincipal).Surname)</a>
                        </h5>
                        <span class="email">@((User as CustomPrincipal).Mail)</span>
                    </div>
                </div>
                @*<div class="account-dropdown__body">
                    <div class="account-dropdown__item">
                        <a href="#">
                            <i class="zmdi zmdi-account"></i>Account
                        </a>
                    </div>
                    <div class="account-dropdown__item">
                        <a href="#">
                            <i class="zmdi zmdi-settings"></i>Setting
                        </a>
                    </div>
                    <div class="account-dropdown__item">
                        <a href="#">
                            <i class="zmdi zmdi-money-box"></i>Billing
                        </a>
                    </div>
                </div>*@
                <div class="account-dropdown__footer">
                    <a href="@Url.Action("Logout","Login")">
                        <i class="zmdi zmdi-power"></i>Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>